<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/js/waitforimages.js"></script>
    <script src="../static/js/index.js"></script>
    <title>#Hashtag Surf</title>
</head>


<body>

<div class="credits">
<p><img id="profileImg" src="" alt="thumbnail"> 

Carmen
</p>
</div>

<form id="searchForm">
    <span id="label">#HASHTAG SURF</span>
    <input type="text" placeholder="Search hashtags">
    <p><span id="tags"></span></p>
</form>
<div id="background-image-bot"></div>
<div id="background-image-top"></div>

</body>



</html>